@model PatternsModel
@{
    string title = ViewBag.Action + " Patterns";
    ViewData["Title"] = title;
}

<h2>@title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="PatternTitle" class="form-label">Pattern Title:</label>
        <input asp-for="PatternTitle" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="HookId" class="form-label">Hook Used:</label>
        <select asp-for="HookId" class="form-select">
            @if (ViewBag.Hooks != null)
            {
                foreach (HooksModel h in ViewBag.Hooks)
                {
                    <option value="@h.HookId">@h.HookName</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="LevelId" class="form-label">Level:</label>
        <select asp-for="LevelId" class="form-select">
            @if (ViewBag.Levels != null)
            {
                foreach (LevelsModel l in ViewBag.Levels)
                {
                    <option value="@l.LevelId">@l.Level</option>
                }
            }
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="YarnBrand" class="form-label">Yarn Brand Used:</label>
        <input asp-for="YarnBrand" class="form-text" />
    </div>

    <div class="mb-3">
        <label asp-for="YarnColor" class="form-label">Yarn Color:</label>
        <input asp-for="YarnColor" class="form-text" />
    </div>

    <div class="mb-3">
        <label asp-for="PatternDescription" class="form-label">Description:</label>
        <input asp-for="PatternDescription" class="form-text" />
    </div>

    <div class="mb-3">
        <label asp-for="Pattern" class="form-label">Pattern:</label>
        <input asp-for="Pattern" class="form-text" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Patterns" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>