@model List<BookModel>
@{
    ViewData["Title"] = "My Books";
}

<div class="mb-2">
    <a asp-controller="Books" asp-action="Add">Add New Book</a>
</div>

<thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published Year</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    @foreach(var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.PubYear</td>
            <td>@book.Genre.GenreName</td>
            <td>@book.Rating</td>
            <td>@book.Description</td>
            <td>
                <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.BookId" asp-route-slug="@book.Slug">Edit</a>
                <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.BookId" asp-route-slug="@book.Slug">Delete</a>
            </td>
        </tr>
    }
</tbody>